# Q.1 Write a Python program to get the volume of a sphere with radius 6.

In [37]:
import numpy as np
print("Volume of a sphere with radius 6:",4/3*np.pi*(6**3))

Volume of a sphere with radius 6: 904.7786842338603

# Q.2 Write a Python program to calculate the sum of given three numbers, if the three numbers are equal then return three times of their sum.

In [41]:
def sum_thrice(x,y,z):
    
    sum=x+y+z
    
    if x==y==z:
        sum=x*3
    return sum

In [42]:
sum_thrice(3,4,5)

12

In [44]:
sum_thrice(6,6,6)

18

# Q.3 Write a Python program to count thr number 4 in a given list.

In [45]:
lst=[1,4,6,8,4,9,4]

In [46]:
def count_num(x):
    count=0
    for num in x:
        if num==4:
            count=count+1
    return count

In [47]:
count_num(lst)

3

# Q.4  Write a Python program to print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence.

In [31]:
numbers=[399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
958,743, 527]

In [33]:
num=[]
for x in numbers:
    if x>237:
        continue
    elif x%2==0:
        num.append(x)
print(num)

[162, 104, 58, 24]

# Q.5 Write a Python program to find those numbers which are dicisible by 7 and multiple of 5, between 1500 and 2700 (both included)

In [77]:
a=list(range(1500,2701))
nums=[]
for x in a:
    if x%5==0 and x%7==0:
        nums.append(x)
print("Numbers divisible by 5 and 7 are:\n\n",nums)

Numbers divisible by 5 and 7 are:

 [1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

# Q.6 Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

In [1]:
num=[0,1,2,3,4,5,6]

In [7]:
num1=[]
for x in num:
    if x==3 or x==6:
        continue
    else:
        num1.append(x)
    
print(num1)

[0, 1, 2, 4, 5]

# Q.7 Write a Python program to get the Fibonacci series between 0 to 50.

In [79]:
x,y=0,1

while y<50:
   print(y)
   x,y=y,x+y

1
1
2
3
5
8
13
21
34

# Q.8 Write a Python program to get the Fibonacci series between 0 to 50.

In [80]:
x,y=0,1

while y<50:
    print(y)
    x,y=y,x+y

1
1
2
3
5
8
13
21
34

# Q.9 Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [24]:
lst=[1,2,3,3,3,3,4,5]

In [28]:
def unique_list(numbers):
    unique=[]
    for item in numbers:
        if item not in unique:
            unique.append(item)
    return unique

In [29]:
unique_list(lst)

[1, 2, 3, 4, 5]